:root{
    font-size: 16px;
    font-family: "Ubuntu Condensed", sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 1s;
    --drawer-color: #D2E3C8;
    --drawer-width: clamp(210px, 22vw, 325px);
    --sidebar-bg-1: #4F6F52;
    --sidebar-color-1: #c9c9c9;
    --sidebar-color-2: #c9c9c9;
    --green-1: #739072;
    --gh-avatar: url('https://github.com/yusuferens.png');
    --gh-avatar2: url('https://github.com/jeff.png');
    --gh-avatar2: url('https://github.com/bob.png');
    --gh-avatar2: url('https://github.com/chris.png');
    --gh-avatar2: url('https://github.com/paul.png');
    --content-gray: rgb(235,235,235);
    --transition-notDrawer: margin-left 0.4s ease-in;
    --transtion-drawer: width 0.4s ease-in;
}


.menuItem img {
    height: 24px;
    width: 24px;
}
.menuIcon img {
    height: 24px;
    width: 24px;
}

.icons img {
    height: 24px;
    width: 24px;
}